<section>
  <h1>Ethereum(J)</h1>
  
  <p>The Java library that can 
  be embedded in any Java project</p>
  
  <ul style="list-style-type:circle;text-align: center;">
  <li>Release version <a href="http://ethereumj.io/blog/2015/07/29/release-0-9-7-alpha/"> 0.9.7-alpha </a></li>
  </ul>
  
  <br/>
  <p  style="list-style-type:circle;text-align: center;">
    <a href="https://gitter.im/ethereum/ethereumj">
       <img src="source/images/ask-button.png" alt="For any question just click and ask">
    </a>
  </p>
  
  

</section>
